img_analyze/Image Analyze.json
{
  "name": "Image Analyze",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        544,
        -16
      ],
      "id": "7ab14001-f8eb-40d9-ac3d-5ece45790dfa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "listings_raw",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        -16
      ],
      "id": "1fe7be3e-65fb-475b-a435-0e8eed76430d",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "3qH4dRUbdoSXapNU",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.raw_data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Image_links",
              "description": "Lista URL-i zdjęć samego mieszkania z ogłoszenia. Wyciągnij URL-e obrazków będących zdjęciami nieruchomości, bez ikon UI, strzałek, pinezek ani innych zasobów graficznych strony. Przynajmniej 5 linków. Staraj się unikać miniatur.\nLinki zwróć w formacie:\n...\nwww.link.pl, www.link2.pl, www.link3.pl, [...]\n...\nOpis formatu: Linki MUSZĄ być oddzielone przecinkiem.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1248,
        0
      ],
      "id": "cbec3802-684c-42da-940a-b58ab819f916",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        176
      ],
      "id": "4d97c8e7-6633-4b64-9a0f-0b53ffd95392",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ov5ogqF1tu6PHIwK",
          "name": "OpenAI - MonteAI"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        0
      ],
      "id": "cfbcdc5f-147e-44e8-8583-4b7a2061805a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "text": "You are a professional apartment inspector analyzing rental listing photos.\nExamine this image carefully and extract every observable detail about the apartment.\n\nReport on ALL of the following that are visible — skip only what is truly not visible:\n\nKITCHEN:\n- Stove type (gas burners visible = gas, smooth glass top = induction/electric)\n- Oven present? Built-in or freestanding?\n- Dishwasher present?\n- Fridge size and type\n- Counter material and condition\n- Cabinet condition (scratches, damage, wear)\n- Sink condition\n\nBATHROOM:\n- Shower cabin vs bathtub vs both\n- Toilet type (floor-mounted, wall-hung)\n- Washing machine present?\n- Ventilation (window vs vent grille)\n- Tiles condition (cracks, grout quality)\n- Any signs of mold, moisture, or water damage\n\nWALLS & CEILING:\n- Paint condition (peeling, stains, cracks)\n- Any visible mold, dark spots, or moisture marks\n- Wallpaper present? Condition?\n- Ceiling height (estimate: low/normal/high)\n\nFLOORS:\n- Floor type (hardwood, laminate, tiles, carpet)\n- Condition (scratches, gaps, damage)\n\nWINDOWS:\n- Frame type (PVC/wooden/aluminum)\n- Single or double glazing (visible frame thickness)\n- Roller blinds or curtains present?\n\nHEATING:\n- Radiator type visible? (cast iron = old central, panel = newer, electric heater)\n- Underfloor heating visible (no radiators at all)?\n- Air conditioning unit present?\n\nFURNITURE & EQUIPMENT (if furnished):\n- List all visible furniture\n- Approximate age/condition (new, decent, worn, IKEA-style, vintage)\n- TV present? Size estimate?\n\nLIGHTING:\n- Natural light level (bright/medium/dark)\n- Window direction clues (shadow angle)\n- Artificial lighting type (ceiling lamp, spots, LED strips)\n\nSPACE & LAYOUT:\n- Room type shown (kitchen, bathroom, bedroom, living room, hallway)\n- Estimated room size (small/medium/large)\n- Storage space visible (wardrobes, shelves)\n- Open plan or separate rooms?\n\nCONDITION SUMMARY:\n- Overall condition: excellent / good / fair / poor\n- Top 3 positive observations\n- Top 3 red flags or concerns\n\nRespond in Polish. Be specific and factual — only describe what you can actually see.\nIf something is unclear, say \"nieczytelne\" or \"niewidoczne\".",
        "imageUrls": "={{ $json.output.Image_links }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ],
      "id": "7b770651-8c5f-4680-bbaa-849bf5cf98ae",
      "name": "Analyze an image",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "65GxlvuWGbSy54FY",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "listings_normalized",
        "filters": {
          "conditions": [
            {
              "keyName": "external_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.external_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "flat_description_pictures",
              "fieldValue": "={{ $json.content.parts[0].text }}"
            },
            {
              "fieldId": "flat_pictures_url",
              "fieldValue": "={{ $('Information Extractor').item.json.output.Image_links }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1808,
        0
      ],
      "id": "233cda84-9993-4364-94ac-c3970b286a7c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "3qH4dRUbdoSXapNU",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dfa743b4-e95b-43c0-9f06-961ffddc28dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a3035c090cb29a6cdc4170bb381cdff89d18a22aaeeb2c27e245117a66ca4a9"
  },
  "id": "4VH7UfspVkGyFQtr_89vz",
  "tags": []
}